<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 text-warning fonts" id="" href="/">OrdinaryTravellers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active text-primary fonts" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fonts" href="/travells">Travells</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fonts" href="/about">AboutUS!</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link fonts text-warning" href="/admin/login"> <img src="../../image/admin/adminicon.png"
                        alt="" style="filter:invert(100%);"></a>

            </div>
        </div>
    </div>
</nav>
<div>

    <div class="alert alert-danger {{display}} text-center fs-5" id="alert" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
            aria-label="Warning:">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>

        <strong>Something's Wrong! </strong> Username and Password are not correct. Try again.

    </div>
</div>
<div class="login">


    <div class="loginmain">
        <form method="POST" action="/admin/login">

            <div class="adminlogo"></div>
            <div class="admintitle">Admin Log</div>
            <div class="datas logindata">
                <label>EMAIL</label>
                <input type="text" placeholder="Enter ID" name="username" required />
                <label>PASSWORD</label>
                <input type="password" placeholder="Enter Password" name="password" required />
                <button type="submit">LOGIN</button>
            </div>
    </div>
    </form>
</div>

{{>footer}}

<script src="/js/login.js"></script>